<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li class="right-link" *ngIf="!this.authService.isLoggedIn()"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li class="right-link" *ngIf="this.authService.isLoggedIn()"><a routerLink="/task-view"  routerLinkActive="active">TaskManagementSystem</a></li>
    <li class="right-link" *ngIf="authService.isLoggedIn()">
      <a (click)="logout()" routerLinkActive="active">
        Logout
      </a>
    </li>
  </ul>
</nav>
