<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title" required>

    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" required></textarea>

    <label for="userAssignedId">User Assigned:</label>
    <select id="userAssignedId" formControlName="userAssignedId" required>
        <option *ngFor="let employee of employees" [value]="employee.userId">{{ employee.userName }}</option>
    </select>
    <!-- <input type="text" id="userAssigned" formControlName="userAssigned" required> -->

    <label for="statusId">Status:</label>
    <select id="statusId" formControlName="statusId" required>
        <option *ngFor="let status of statuses" [value]="status.id">{{ status.status }}</option>
    </select>

    <button type="submit">Create Task</button>
</form>
